{% extends 'portfolio/base.html' %}
{% block title %}
    | Projects
{% endblock %}
{% block content %}
    <div class="content">
        <h1>Projects</h1>
        <p class="page-description">This page lists all of the projects that I made during my Computer Science degree</p>
        <div class="projects">
            {% if projects %}
                {% for proj in projects %}
                    <div class="project">
                        <div class="project-column">
                            <h2> 
                                <a href="{{ proj.url }}" target="_blank"> 
                                    {{ proj.name }}
                                </a>
                            </h2>
                            {% if proj.pinned %}
                                <h6 class="pinned"> Pinned </h6>
                            {% endif %}
                            <p> {{ proj.description }}</p>
                        </div>
                        <div class="project-column">
                            <img class="project-image" src="{{ proj.img }}" title="{{ proj.name }}" alt="Image of {{ proj.name }}">
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2> No projects available</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}